html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: block;
  
}

.container {
 max-width: 940px;
 margin: 0 auto;
  
}

.main {
  position: relative;
}

.main .content {
  position: absolute;
  text-align: center;
  top: 200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  text-align: center;
  color:#fff;
  margin-top:0;
  margin-bottom: 50px;
  padding: 0 40px;
}

.over-video{
  margin-top: 10%;
}

.video-bg {
  width: 100%;
  object-fit: contain;
}

.video {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 650px!important;
  padding: 2em 0;
  text-align: left;
  color: #fff;
  /*background: none repeat scroll center center #ffffff;*/
}
.video.video-location {
  height: 100%;
  background: url(../img/camp.png) no-repeat scroll center center #e5e7e9;
  background-size: cover;
}

.video.video-location::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none no-repeat scroll 0 0 rgba(64, 64, 64, 0.15);
}

